@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarIcon{
    @apply text-3xl md:text-2xl my-8
}

.landingCol{
    @apply flex flex-col items-end w-1/2;
    /* max-width: 320px; */ 
}
@media (min-width: 768px) {
    .landingCol {
        max-width: 150px;
    }
}
.landingCol3{
    @apply hidden md:block
}

.landingImage{
    @apply p-1 object-cover;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    background-color: #c2c2c2;
}