@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebarIcon{
    @apply text-3xl md:text-2xl my-8
}
.footerIcon{
    @apply text-3xl md:text-2xl 
}
.footerIconCon{
    @apply border border-gray-400 rounded p-0.5
}
.landingCol{
    @apply flex flex-col items-end w-1/2;
    /* max-width: 320px; */ 
}
.primaryGradientBg{
    @apply bg-gradient-to-br from-[#121212] to-[#083E54] text-white;
}
.primaryGradientBgLight{
    @apply bg-gradient-to-br from-[#097DAB] to-[#024159] text-white;
}
.divider{
    @apply bg-primary rounded h-1
}
@media (min-width: 768px) {
    .landingCol {
        max-width: 150px;
    }
}
.landingCol3{
    @apply hidden md:block
}
.footerTextField{
    @apply bg-white border shadow w-80 sm:w-[500px] rounded-lg p-3 resize-none outline-none
}
.landingImage{
    @apply p-1 object-cover;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    /* background-color: #c2c2c2; */
}

.imageCard{
    @apply shadow-xl rounded-lg 
}

.button{
    @apply shadow-lg p-2 rounded-lg primaryGradientBg text-center
}